.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 220px);
  margin-top: 1rem;
}

.sign_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  border-radius: 20px;
  width: 550px;
  height: 450px;
  box-shadow: rgba(224, 189, 189, 0.733) 0px 5px 15px;
  background-color: white;
}

.sign_form__subdiv {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* background-color: yellow; */
}

.sign_form__subdiv input:hover {
  background-color: #afcefd;
}

.sign_form__subdiv input{
  border-color: #2d48e0bd;
}

.sign_form__subdiv p {
  cursor: pointer;
}

.sign_form__subdiv p:hover {
  color: orangered;
}
