.tilt {
  margin-left: 5rem;  
  width: 200px;
  height: 200px;
}

.tilt,
.logo_box {
  display: flex;
  align-items: center;
  
}

.logo_box {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #e0e0e0;
  box-shadow: 15px 20px 53px #555454, -6px -6px 53px #ffffff36;
  overflow:hidden;
}

.logo_box img{
    width:100%;
    height:100%;
}
