.nav_menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 190px;
  background: #1b021293;
}

.main_logo {
  position: absolute;
}

.main_nav {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 190px;
}

.main_nav__link {
  font-size: 3rem;
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: rgb(212, 252, 252);
}

.main_nav__link:first-child:hover {
  color: #11ddd3;
}

.main_nav__link:hover {
  color: #ddbe11;
}
