.main_nav {
  display: flex;
  justify-content: right;
  align-items: center;
  height:100px;
  background:#e9d7d0;
}

.main_nav__link {
  font-size: 2rem;
  padding: 1.5rem;
  cursor: pointer;
}

.main_nav__link:hover {
  color: lightseagreen;
}
