.bounding_box {
  position: absolute;
  box-shadow: 0 0 0 3px #35baf7 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  z-index:200;
}

.facerecognition_container{
  display: flex;
  justify-content: center;
  border-radius: 50px;
  text-align: center;
  margin: auto;
  background:orange;
  width:100%;
}

.facerecognition_container_absolute{
  position: absolute;
  margin-top: 2rem;
  border-radius:50px;
  overflow: hidden;
}

#inputimage {
  max-width:550px;
  width: 500px;
  height: auto; 
  
}
