.App {
  font-family: "Courier New", Courier, monospace;
  border-left: 1px solid #3633ecc9;
  border-right: 1px solid #3633ecc9;
  border-top: none;
  border-bottom: none;
  width: 1800px;
  height: auto;
  background: rgba(0, 0, 255, 0.24);
}

.particles {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.a_btn {
  position: relative;
  display: flex;
  border-radius: 300px;
  padding: 20px 50px;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
}

.a_btn span {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}

.a_btn .liquid {
  position: absolute;
  left: 0;
  top: -80px;
  width: 500px;
  height: 200px;
  /* background: #0059fff5; */
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.btn_signin, .btn_detect{
  background: #0059fff5;
}

.btn_signin:hover{
  background: #00ff22f5;
}


.btn_register{
  background: #ffbb00f5;
}

.btn_register:hover{
  background:  #00ff22f5;
}


.a_btn:hover .liquid {
  top: -120px;
}

.a_btn .liquid:before,
.a_btn .liquid:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.a_btn .liquid:before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}
.a_btn .liquid:after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/*--------------------------------------------*/

.sign_form input {
  padding: 0 20px 0 20px;
  height: 2rem;
  border-radius: 50px; 
}

.sign_form button{
  cursor:pointer;
}



